---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=&cnt=10&id=667268&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":667268,"name":"Sibiu","coord":{"lon":24.15,"lat":45.8},"country":"RO","population":0},"cod":"200","message":0.0337952,"cnt":10,"list":[{"dt":1504519200,"temp":{"day":14,"min":14,"max":14,"night":14,"eve":14,"morn":14},"pressure":906.37,"humidity":88,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"speed":1.11,"deg":285,"clouds":76},{"dt":1504605600,"temp":{"day":13.11,"min":9.56,"max":13.62,"night":9.56,"eve":12.04,"morn":10.75},"pressure":906.88,"humidity":69,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"speed":1.26,"deg":306,"clouds":56},{"dt":1504692000,"temp":{"day":14.51,"min":9.76,"max":16.14,"night":12.78,"eve":14.92,"morn":9.76},"pressure":903.39,"humidity":64,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":2.13,"deg":291,"clouds":0,"rain":0.4},{"dt":1504778400,"temp":{"day":17.07,"min":6.36,"max":17.07,"night":6.36,"eve":16.21,"morn":12.7},"pressure":902.98,"humidity":65,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"speed":1.82,"deg":280,"clouds":20},{"dt":1504864800,"temp":{"day":21.78,"min":10.96,"max":21.78,"night":10.96,"eve":14.56,"morn":13.44},"pressure":956.58,"humidity":0,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":0.69,"deg":344[...]
