---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=bd5e378503939ddaee76f12ad7a97608&cnt=10&id=2618425&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":2618425,"name":"Copenhagen","coord":{"lon":12.5655,"lat":55.6759},"country":"DK","population":0},"cod":"200","message":0.0195484,"cnt":10,"list":[{"dt":1504177200,"temp":{"day":14.2,"min":13.34,"max":14.2,"night":13.34,"eve":14.2,"morn":14.2},"pressure":1024.4,"humidity":94,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":7.92,"deg":279,"clouds":32},{"dt":1504263600,"temp":{"day":16.69,"min":14.54,"max":17.28,"night":14.71,"eve":16.26,"morn":14.54},"pressure":1030.89,"humidity":87,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"speed":4.76,"deg":295,"clouds":64},{"dt":1504350000,"temp":{"day":16.85,"min":12.29,"max":17.17,"night":12.29,"eve":15.58,"morn":14.65},"pressure":1031.72,"humidity":85,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"speed":3.76,"deg":337,"clouds":64},{"dt":1504436400,"temp":{"day":18.2,"min":13.21,"max":18.78,"night":13.22,"eve":16.86,"morn":13.21},"pressure":1031.74,"humidity":80,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":2.91,"deg":24,"clouds":0},{"dt":1504522800,"temp":{"day":17.07,"min":14.58,"max":17.07,"night":15.54,"eve":16.92,"morn":14.58},"pressure":1010.96,"humidity":0,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"speed":4.88,"deg":235,"clouds":87,"rain":18.31},{"dt":1504609200,"temp":{"day":17.95,"min":14.55,"max":17.95,"night":14.55,"eve":16.33,"morn":15.84},"pressure":1017.84,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":4.38,"deg":262,"clouds":40,"rain":0.44},{"dt":1504695600,"temp":{"day":18.15,"min":14.81,"max":18.15,"night":14.81,"eve":16.78,"morn":15.09},"pressure":1017.09,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":6.64,"deg":264,"clouds":42,"rain":0.87},{"dt":1504782000,"temp":{"day":16.99,"min":14.5,"max":16.99,"night":15.37,"eve":16.55,"morn":14.5},"pressure":1022.18,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":8.9,"deg":281,"clouds":28,"rain":1.45},{"dt":1504868400,"temp":{"day":19.18,"min":15.25,"max":19.18,"night":15.25,"eve":18.71,"morn":15.92},"pressure":1022.03,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":7.49,"deg":249,"clouds":50,"rain":0.86},{"dt":1504954800,"temp":{"day":22.44,"min":16.04,"max":22.44,"night":18,"eve":20.73,"morn":16.04},"pressure":1015.69,"humidity":0,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":5.27,"deg":169,"clouds":0}]}'
  recorded_at: Thu, 31 Aug 2017 19:31:48 GMT
[...]
