---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID&cnt=1&id=2618425&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":2618425,"name":"Copenhagen","coord":{"lon":12.5655,"lat":55.6759},"country":"DK","population":0},"cod":"200","message":0.0661045,"cnt":1,"list":[{"dt":1504177200,"temp":{"day":13.61,"min":12.99,"max":13.61,"night":12.99,"eve":13.61,"morn":13.61},"pressure":1024.4,"humidity":94,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":7.92,"deg":279,"clouds":32}]}'
  recorded_at: Thu, 31 Aug 2017 20:46:06 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID&cnt=1&id=2950096&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":2950096,"name":"Bernau bei Berlin","coord":{"lon":13.5871,"lat":52.6798},"country":"DE","population":0},"cod":"200","message":0.1188008,"cnt":1,"list":[{"dt":1504177200,"temp":{"day":17,"min":13.98,"max":17,"night":13.98,"eve":17,"morn":17},"pressure":1022.37,"humidity":90,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":3.92,"deg":297,"clouds":88,"rain":0.61}]}'
  recorded_at: Thu, 31 Aug 2017 20:46:06 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID&cnt=1&id=667268&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":667268,"name":"Sibiu","coord":{"lon":24.15,"lat":45.8},"country":"RO","population":0},"cod":"200","message":0.0816608,"cnt":1,"list":[{"dt":1504173600,"temp":{"day":14,"min":10.15,"max":14,"night":10.15,"eve":14,"morn":14},"pressure":906.69,"humidity":87,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01n"}],"speed":0.47,"deg":39,"clouds":0}]}'
  recorded_at: Thu, 31 Aug 2017 20:46:07 GMT
recorded_with: VCR 3.0.3
