---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=&cnt=10&id=667268&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":667268,"name":"Sibiu","coord":{"lon":24.15,"lat":45.8},"country":"RO","population":0},"cod":"200","message":0.7725386,"cnt":10,"list":[{"dt":1504173600,"temp":{"day":14,"min":10.15,"max":14,"night":10.15,"eve":14,"morn":14},"pressure":906.69,"humidity":87,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01n"}],"speed":0.47,"deg":39,"clouds":0},{"dt":1504260000,"temp":{"day":21.57,"min":6.53,"max":23.34,"night":11.81,"eve":22.28,"morn":6.53},"pressure":904.94,"humidity":49,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":0.37,"deg":5,"clouds":0},{"dt":1504346400,"temp":{"day":24.11,"min":9.59,"max":24.11,"night":13.16,"eve":20.77,"morn":9.59},"pressure":902.44,"humidity":57,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"speed":0.71,"deg":184,"clouds":0,"rain":3.06},{"dt":1504432800,"temp":{"day":20.53,"min":12.11,"max":21.95,"night":12.11,"eve":20.38,"morn":15.04},"pressure":899.88,"humidity":68,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"speed":0.66,"deg":221,"clouds":24,"rain":3.1},{"dt":1504519200,"temp":{"day":17.95,"min":12.99,"max":17.95,"night":12.99,"eve":14.79,"morn":13.88},"pressure":949.14,"humidity":0,"weather":[{"id":503,"main":"Rain","description":"very
        heavy rain","icon":"10d"}],"spe[...]
