---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=bd5e378503939ddaee76f12ad7a97608&cnt=1&id=667268&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":667268,"name":"Sibiu","coord":{"lon":24.15,"lat":45.8},"country":"RO","population":0},"cod":"200","message":0.991456,"cnt":1,"list":[{"dt":1504173600,"temp":{"day":16,"min":11.75,"max":16,"night":11.75,"eve":16,"morn":16},"pressure":906.69,"humidity":87,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01n"}],"speed":0.47,"deg":39,"clouds":0}]}'
  recorded_at: Thu, 31 Aug 2017 19:53:11 GMT
recorded_with: VCR 3.0.3
