---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=&cnt=10&id=667268&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":667268,"name":"Sibiu","coord":{"lon":24.15,"lat":45.8},"country":"RO","population":0},"cod":"200","message":0.0268056,"cnt":10,"list":[{"dt":1504346400,"temp":{"day":23,"min":23,"max":23,"night":23,"eve":23,"morn":23},"pressure":900.01,"humidity":65,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"speed":1.77,"deg":156,"clouds":68},{"dt":1504432800,"temp":{"day":17.68,"min":10.93,"max":20.5,"night":10.93,"eve":15.1,"morn":20.5},"pressure":896.79,"humidity":88,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"speed":1.06,"deg":174,"clouds":48,"rain":7.02},{"dt":1504519200,"temp":{"day":11.81,"min":8.78,"max":12.78,"night":8.78,"eve":11.39,"morn":9.9},"pressure":900.9,"humidity":80,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":1.51,"deg":289,"clouds":80,"rain":0.95},{"dt":1504605600,"temp":{"day":11.4,"min":7.15,"max":11.4,"night":7.28,"eve":10.08,"morn":7.3},"pressure":905.28,"humidity":67,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"speed":2.66,"deg"[...]
