---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=&cnt=1&id=2618425&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":2618425,"name":"Copenhagen","coord":{"lon":12.5655,"lat":55.6759},"country":"DK","population":0},"cod":"200","message":0.0624042,"cnt":1,"list":[{"dt":1504436400,"temp":{"day":11.78,"min":9.77,"max":11.78,"night":9.77,"eve":11.78,"morn":11.78},"pressure":1026.94,"humidity":82,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01n"}],"speed":4.66,"deg":352,"clouds":0}]}'
  recorded_at: Sun, 03 Sep 2017 20:21:42 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=&cnt=1&id=667268&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":667268,"name":"Sibiu","coord":{"lon":24.15,"lat":45.8},"country":"RO","population":0},"cod":"200","message":1.3157799,"cnt":1,"list":[{"dt":1504432800,"temp":{"day":14,"min":11.09,"max":14,"night":11.09,"eve":14,"morn":14},"pressure":896.76,"humidity":98,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":0.81,"deg":193,"clouds":48,"rain":0.49}]}'
  recorded_at: Sun, 03 Sep 2017 20:21:42 GMT
recorded_with: VCR 3.0.3
